.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #edede9;
}

.container {
  background-color: white;
  width: 50%;
  padding: 5px;
  margin: auto;
  margin-top: 40px;
  justify-content: center;
  border-radius: 10px;
}


form {
  width: 570px;
  margin: auto;
  display: flex;
  gap: 20px
}

form input {
  background-color: #edeef1;
  height: 40px;
  flex-basis: 80%;
  border-style: none;
  border-radius: 10px;

}

form button {
  flex-basis: 20%;
  border-radius: 10px;
}

form button:hover {
  background-color: #F9F9F9;
}

.outerDiv {
  width: 570px;
  margin: auto;
}

.outerDiv ul {
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  list-style: none;
}

.outerDiv ul li {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: left;
  border-radius: 10px;
  background-color: #3d405b;
  color: white;
}

.outerDiv ul li span {
  right: 20px;
  position: absolute;
  cursor: pointer;
}